{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off",
    "max-len": ["off"],
    "react/jsx-filename-extension": ["off"],
    "semi": ["warn", "never"],
    "comma-dangle": ["warn", "never"]
  },
  "plugins": [
    "import",
    "react",
    "react-native"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
